# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/

# IDE
.idea/
.vscode/

# Logs
*.log

# Local development settings
.env

# Output files
output/
*.xlsx
*.png
*.jpg